{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

<section class="container">
    <div class="row justify-content-end">
        <div class="col-md-auto">
            <a class="btn btn-primary rounded-0" href="{{path('security_signup')}}">S'inscrire</a>
            <a class="btn btn-light rounded-0" href="{{path('app_login')}}">Se connecter</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th class="" scope="col">Sujets</th>
                <th class="" scope="col">Discussions</th>
                <th class="" scope="col">Messages</th>
            </tr>
        </thead>

        {% for topic in topics %}
        <tr class="">
            <td class=""><a id="mainTopicLink" class="topic-title"
                    href="{{path('blog_topic', {'id': topic.id})}}">{{topic.title}}</a>
                <p class="">{{topic.description}}</p>
            </td>
            <td class="">{{topic.subtopics | length}}</td>
            <td class="">{{topic.messages | length}}</td>
        </tr>
        {% endfor %}


    </table>
</section>
{% endblock %}